/* Main selectors ---------------------- */

* {
    border: solid red 2px;
}

body {
    max-width: 510px;
    margin: auto;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

button {
    font-size: 2em;
    border-style: solid;
    border-radius: 30px;
    height: 1.5em;
    max-width: 200px;

}

ol {
    padding: 0 10%;
}

/*Button selectors ------------ */

ol button{
    background-color: aqua;
    border-color: blue;
    width: 48%;
    margin: 0 1%;
}

.input-btn {
    margin:auto;
}

.y {
    background-color: blueviolet;
}

ol li {
    padding: 1% 0;
    /*margin: auto;*/
}


.score {
    text-align: center;
    font-size: 2rem;
}

.entry-buttons {
    margin: 0 10%;
}

.submit, .clear{
    width: 48%;
    margin: 0 1%;
}

.submit {
    background-color: green;
    border-color: darkgreen;
}

.clear {
    background-color: red;
    border-color: darkred;
}

.formList {
    list-style: none;
    padding: 0;
}

.formLine input{
    margin: auto;
    display: inline-block;
    align-content: center;
}


/* Form selectors ------------ */

#userName {
    display: block;
    margin: auto;
    width: 60%;
}

/* Responsive ---------------------- */

/* big screen */
@media only screen and (min-width: 1024px) {
    body {
        background-color: red;
    }
}


/* Smallest screen */
@media only screen and (max-width: 300px) {
    button {
        font-size: initial;
    }
    .score {
        font-size: initial;
    }
}



