body {
    /*background-color: aquamarine;*/
}

button {
    font-size: 200%;
    border-style: solid;
    border-radius: 10px;
    height: 60px;
    width: 30%;
}

ol button{
    background-color: aqua;
    border-color: blue;
    margin-left: 2%;
}

ol li button.y {
    background-color: blueviolet;
}

ol li {
    margin-bottom: 2%;
    margin-left: 10%;
}

.score {
    text-align: center;
    font-size: 1.5em;
}

span button {
    border-style: solid;
    border-radius: 10px;
    /*margin-left: 35%;*/
}

span .submit {
    margin-left: 5%;
    background-color: green;
    border-color: darkgreen;
}

span .clear {
    margin-left: 15%;
    background-color: red;
    border-color: darkred;

}



@media only screen and (max-width: 500px) {
    body {
        background-color: red;
    }
}


